scripts=["
    create service user anf-code-challenge-service-user with path /home/users/system/anf-code-challenge
    set ACL for anf-code-challenge-service-user
        allow jcr:read, rep:write on /content/anf-code-challenge
        allow jcr:read on /conf/anf-code-challenge
        allow jcr:read on /apps
        allow jcr:all on /var
        allow jcr:read on /etc/age
    end
"]